OPNSENSE_URL=https://uxie.int.bksp.in
OPNSENSE_AUTH_KEY=CONFIDENTIAL
OPNSENSE_AUTH_SECRET=CONFIDENTIAL
NODE_EXTRA_CA_CERTS=/B4CKSP4CE_Root_CA.crt
UNIFI_CONTROLLER_URL=https://unifi.int.bksp.in:11443
UNIFI_SITE_ID=CONFIDENTIAL
UNIFI_TOKEN=CONFIDENTIAL
NODE_TLS_REJECT_UNAUTHORIZED=0